<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="outer" style="display:grid;">
        <div>
            <h2>Brands</h2>
        </div>
        <div class="inner" style="display: flex;">
            <div class="inner1">
                <img src="https://th.bing.com/th/id/OIP.HxV79tFMPfBAIo0BBF-sOgHaEy?rs=1&pid=ImgDetMain" alt="">
            </div>
            <div class="inner2">
                <img src="https://th.bing.com/th/id/OIP.HxV79tFMPfBAIo0BBF-sOgHaEy?rs=1&pid=ImgDetMain" alt="">
                <img src="https://th.bing.com/th/id/OIP.HxV79tFMPfBAIo0BBF-sOgHaEy?rs=1&pid=ImgDetMain" alt="">
            </div>
        </div>
    </div>
</body>
</html>
