.terms{
  font-family: sans-serif;
  color: #000000;
  
}
.terms h1{
  text-align: center;
}
.termContent{
  padding: 0% 5% 0% 5%;
}
.termContent h2{
  text-align: start;
}
.termContent p{
  text-align: justify;
  font-size: 20px;
}
.aboutPage{
  margin: 0px 30px 0px 30px;
  display: grid;
  font-family: cursive;
}
@media (max-width:600px){
  .aboutPage{
    width: 100%;
  }
  .aboutPage h2{
    font-size: 18px;
    margin-bottom: 30px;
  }
  .aboutPage p{
    font-size: 12px;
    margin-top: -25px;
  }
}

/*exercisePageCSS*/
.ex{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: space-between;
  justify-content: space-around;
  background-color: rgb(255, 245, 233);
  
}
.exercise{
  padding: 10px;
  width: 48.7%;
  display: flex;
  text-align: left;
  font-family: cursive;
  cursor: pointer;
  
  
}
.content{
  display: grid;
}
.exercise img{
  width: 50%;
  height:auto;
  border-radius: 10px;
  margin-right: 10px;
}

.exercise:hover{
  background-color: #e1d4d4;
}

.exercise p{
  font-size: 40px;
}
.exercise span{
  font-size: 20px;
}


 /* General Styling 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

.login-btn {
  background-color: #007bff;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

.register-link {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-container {
    padding: 15px;
    width: 90%;
  }
}

